---
import Base from "@Layout/Base.astro";
---

<Base>
	<section
		class="flex h-screen flex-grow flex-col items-center justify-center text-center">
		<a
			class="text-2xl tracking-wider"
			href="mailto:silea@lightrix.help"
			rel="noopener noreferrer"
			target="_blank"
			>silea@lightrix.help
		</a>
	</section>
</Base>

<style>
	a {
		color: #228be6;
	}
</style>
